* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}
#flicker {
	margin: 20px;
	.canvas {
		width: 50%;
		display: block;		
		margin: 0 auto;
	}
	.controls {
		position: fixed;
		bottom: 20px;
		right: 10%;		
		left: 10%;
		input {
			width: 100%;
		}
	}
}